@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Tangerine:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.btn:focus {
    outline: none;
    box-shadow: none;
    }
.btn{
        box-shadow: none !important
    }
    html {
        scroll-behavior: smooth;
      }
    
/* -----------------------------------    navbar1   -----------------------------------*/



#phoneIBtn{
    padding-bottom: 8px;
    padding-top: 8px;
    border: 1px #06d087;
    background-color: #059762;
}

#phoneIBtn:hover{
    background-color: #06d087;
}
#phoneI{
    position: relative;
    font-size: 20px;    
    color: white;
}
.En .btn{
    font-size: 0.83rem;
    font-weight: 500;
}


.menu-btn i{
            position: absolute;
            right: 10px;
            top: 36px;
            float: right;
            font-size: 1.5em;
}
.navbar1{
    transition: 0.3s ease;
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 12px ;
    background-color:white;
}
.navbar1 ul a{
    margin-left: 30px;
color: black;
text-decoration: none;
font-size: 17px;
font-weight: 400;
top: 10px;
position: relative;
}
.navbar1 ul a:hover{

    color: #06d087;

}
.logo a img{
  
    height: 70px;
    text-decoration: none;


}
.navbar1 .menu-list.active{
    right: 0%;
}

.navbar1 .content{
    padding: 0px 5px ;
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon.hide{
    display: none;
}
.menu-list li{
    list-style: none;
}
.navbar1 .menu-list{
    display: inline-flex;

}

.icon{
    cursor: pointer;
    display: none;
}
.navbar1.sticky1{


  box-shadow: 0px -19px 50px 1px black;


}
.cancel-btn.show{
    display: block;

}
.cancel-btn i{
    color: white;
}
#phone-number-navbar{

    font-size: 16px;
    font-weight: 300;
    color: white;

}

@media  (max-width:954px){
    .En{
        margin-right: 8vw;
    }
    .navbar1 ul a{
    margin-left: 0px;
    color: white;

}
.logo a{
    margin-left: 30px;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: black;

}

        

    .navbar1 .menu-list{
    right:-100%;
    position: fixed;
    top:0;
    width: 100%;
    max-width: 400px;
    height: 100vh;
    background-color: #010001;
    display: block;
    text-align:center ;
        z-index: 10;
    transition: all 0.5s ease;


} 

.icon{
    display: block;


}
.cancel-btn{
    display: none;
    font-size: 20px;
    position: absolute;
    top: 30px;
    right: 30px;
}
.navbar1 .menu-list li{
    margin-top: 45px;
    font-size: 23px;
}
#phoneI {
    font-size: 1.2rem;

  }
  #phoneIBtn{
    padding-bottom: 6px;
    padding-top: 6px;
}

#first-btn-mobile{
    margin-top: 130px;
}

}
@media  (max-width:500px){
    .En{
        margin-right: 12vw;
    }
    #phone-number-navbar{

       display: none;
    
    }
}
/* -----------------------------------    navbar1   -----------------------------------*/

/*  Test   */
h2{
    text-align: center;
}



/* -----------------------------------    form   -----------------------------------*/
.investEarly{
  font-size: 2rem;
}
@media  (max-width:954px){
  .investEarly{
    font-size: 1.6rem;
  }
}
@media  (max-width:500px){
  .investEarly{
    font-size: 1.4rem;
  }
}
#formTitle{
    font-size: 1.2rem;
    display: block;
    text-align: center;
    width: 100%;
}
.formClass{
    color: white;
    border-radius: 7px;
    background-color: rgba(20, 20, 20, 0.7);
    position: absolute;
    top: 200px;
    left: 50%;
    width: 85%;
    transform: translate(-50%, -50%);
    padding: 30px;

  }
  #form-btn2{
    margin: auto;
      display: block;height: 38px;background-color: #06d087;border: 1px #06d087;
  
      width: 110px;
  }
  #form-btn2:hover{
      background-color: #059762;
  }
  @media  (max-width:767px){
    #form-btn2{
  
        width: 150px;
    }}
#form-btn{
  margin: auto;
    display: block;height: 38px;background-color: #06d087;border: 1px #06d087;

    width: 110px;
}
#form-btn:hover{
    background-color: #059762;
}
@media  (max-width:767px){
  #form-btn{

      width: 150px;
  }
    .formClass{
        padding-top: 0px;
        margin: auto;
        position: static;
        width: 90%;
        transform: translate(0%, 0%);
        margin-top: 50px;
    }
}



.formClass2{
  margin: auto;
  text-align: center;
  
}




/* -----------------------------------    form   -----------------------------------*/

/* -----------------------------------    about us   -----------------------------------*/

#heading-about-us{
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight:400 ;
}
.container{
    padding: 100px 0px 0px 0px;
}
.about-flex-container{
    display: flex;


}
.about-flex-container .lead{
    margin-left:60px ;
}

.iframeVideo{
    width:580px ;
    height:325px;
}
@media  (max-width:760px){
    .iframeVideo{
        width:100% ;
        height:auto;
    }

}


@media  (max-width:1200px){
    .about-flex-container{
        flex-direction: column-reverse;
        
        
    
    }
    #AU{
        height: auto;
    }
    .about-flex-container .lead{
        margin-left:0px ;
    }
}

/* #AU{
  background-color: transparent;
} */

/* -----------------------------------    about us   -----------------------------------*/


/* -----------------------------------    Differentiation  -----------------------------------*/

.Differentiation{
    padding: 0px 0px 200px 0px;
    display: flex;    justify-content: center;
}

.Differentiation table td{border-bottom: 1px solid gray;border-top: 1px solid gray;}
.Differentiation table {

    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    color: #010001;
    border-collapse:collapse;
    border: 0px;
    
    



  }
  .Differentiation .second-third-table,#first-Table{
    box-shadow: 0px 23px 35px 1px #cecece;
  }
  #secondTable{
    box-shadow: 0px 10px 35px 1px #575757;
  }


   .Differentiation th, td {

    padding: 20px;
  }
  .Differentiation #first-table tr:nth-child(even) {
    background-color: rgb(240, 240, 240);

  }
  .Differentiation  tr:nth-child(even) {
    background-color: rgb(240, 240, 240);

  }

  .fa-thumbs-up{
      color: #05b876;
      font-size: 2rem;
  }
 .fa-thumbs-down{
    color: #010001;
    font-size: 2rem;
}


.second-third-table{
    width: 10%;
    text-align: center;
    margin-left: 10px;
}
#first-table td{    text-align: left;
    padding-left: 100px;
}
#first-table{
    width: 50%;
 text-align: center;
}
#first-table2{

  margin: auto;
  text-align: left;
  margin-bottom: 60px;
  
}
#first-table2 th{
  text-align: center;
}
#first-table2 td{
border-top: 1px solid;
border-bottom: 1px solid;
}
  @media  (max-width:1500px){
    #first-table td{ 

        padding-left: 30px;
    }
}
@media  (max-width:1000px){
    #first-table td{ 

        padding-left: 10px;
    }
    #first-table{
        width: 69%;

    }
    .second-third-table{
        width: 14%;

    }
}
@media  (min-width:780px){
  #first-table2{

display: none;
    
  }
}
@media  (max-width:780px){

  .Differentiation{display: none;}
  .Differentiation table {
  display: none;
    font-size: 14px;
    border-radius: 0px;
}
#first-table{
    width: 58%;

}
.second-third-table{
    width: 18%;
    margin-left: 4px;

}
}

  @media  (max-width:590px){
    #first-table{
        width: 60%;
    
    }
    .second-third-table{
        width: 82px;;
        margin-left: 2px;
        
    }
    .Differentiation .second-third-table,#first-Table{
      box-shadow: 0px 0px 0px 0px;
    }
    #secondTable{
      box-shadow: 0px 0px 0px 0px;
    }
    .Differentiation table{
        


        

    }
    .Differentiation table th{
        

        font-size: 12px;
        

    }

}



  /* -----------------------------------    Differentiation   -----------------------------------*/

  /* -----------------------------------    Numbers   -----------------------------------*/
  .parallax {
  
    /* The image used */
    background-image: url("./src/Images/number_bg.jpg");
  
    /* Set a specific height */
    min-height: 320px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallaxFilter{
    background-color: rgba(10, 31, 6, 0.5); height:320px;}
    .numberDiv {
      color: white;
        font-family: 'Nanum Gothic', sans-serif;
        font-family: 'Tangerine', cursive;
        font-size: 10em;

        text-align: center;
        width: 20vw;
        height: 20vh;

    }
    .numberDiv ,#first-number,#second-number,#third-number,#forth-number,#fifth-number{
        font-family: 'Nanum Gothic', sans-serif;
        font-family: 'Tangerine', cursive;
        font-weight: 700;
    }
    #number-container{
        display: flex; justify-content: space-between;margin: 0px auto 350px auto; width: 80%;

    }

    @media  (max-width:1400px){
       .numberDiv{
           width: 30vh;
       }
    }
    @media  (max-width:1000px){
        .numberDiv{

            width: 20vw;
            font-size: 7em;
        }
     }
     @media  (max-width:650px){
       .parallaxFilter{
      height:680px;}
      .parallax {
  

        min-height:680px;

      }
        #number-container{
            display: block;
    
        }
        .numberDiv{
            text-align: center;
            width: 100%;
            margin-top: 30px;
        }
     }
  /* -----------------------------------    Numbers   -----------------------------------*/

  /* -----------------------------------    video slider   -----------------------------------*/

  .owl-carousel{

  }
  .owl-dots{
	text-align: center;
	margin-top: 0;
}

.owl-dot{

	display: inline-block;
}

.owl-dot span{
	width: 11px;
	height: 11px;
	background: rgb(204, 204, 204);
	border-radius: 50%;
	display: block;
	margin: 5px 10px;
}

.owl-dot.active span{
	background-color: #000;
}
@media  (max-width:650px){
    .owl-carousel{
        height: 400px;
    }
 }
@media  (max-width:650px){
    .owl-carousel{
        height: 300px;
    }
 }
  /* -----------------------------------    video slider   -----------------------------------*/

/* -----------------------------------    Benefits   -----------------------------------*/
.Benefits{
  padding-top: 100px;
  padding-bottom: 100px;

}
@media  (max-width:650px){
  .Benefits{
    padding-top: 20px;
    padding-bottom: 20px;
  
  }
}




  

  .Benefits .circle {
    background-color: #fff;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
  }

  
  .Benefits .cards {
    margin-top: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .Benefits .card {
    background: #fff;
    color: hsl(0, 0%, 16%);
    border-radius: 0.8rem;


  }
  @media  (max-width:650px){
    .Benefits .cards {
      margin-top: 30px;}
  }
  

  .Benefits ul {
    margin: 2.6rem 2.6rem 1rem 2.6rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .Benefits ul li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
  }

  .Benefits .shadow {
    box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
  }
  

  
  .Benefits .btn {
    margin-top: 1rem;
    height: 2.6rem;
    width: 13.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: linear-gradient(
      135deg,
      #06d087,
      #059762
    );
    color: #fff;
    outline: none;
    border: 0;
    font-weight: bold;
  }

  .Benefits .bottom-bar {
    border-bottom: 2px solid hsla(240, 8%, 85%, 0.582);
  }

  .Benefits .pack {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  @media (max-width: 280px) {


    .Benefits .cards {
      margin: 0;
      display: flex;
      flex-direction: column;
    }
  
    .Benefits .card {
      transform: scale(0.8);
      margin-bottom: 1rem;
    }

  }
  
  @media (min-width: 280px) and (max-width: 320px) {
    .Benefits ul {
      margin: 20px;
    }
    .Benefits .cards {
      display: flex;
      flex-direction: column;
    }
    .Benefits .card {
      margin-bottom: 1rem;
    }

  }
  
  @media (min-width: 320px) and (max-width: 414px) {
    .Benefits .card {
    width: 90%;
    }


  }

  @media (min-width: 768px) and (max-width: 1046px) {
    .Benefits .cards {
      display: flex;
    }


  }
  .Benefits .BeneftisImgs{
    width: 20vw;
    text-align: center;
}
@media (max-width: 941px) {
    .Benefits .BeneftisImgs{
        width: 40vw;
        text-align: center;
    }
    .Benefits .card {

        margin-bottom: 2rem;
      }

  }
  @media (max-width: 885px) {
    .Benefits .BeneftisImgs{
        width: 60vw;
        text-align: center;
    }

    .Benefits .card {

        margin-bottom: 3rem;
      }

  }
  #more {display: none;}
  #more1 {display: none;}
  #more2 {display: none;}

  #myBtn,#myBtn1,#myBtn2{
    text-decoration: none;
     color: #059762;
    transition: 0.2s;
    cursor: pointer;
  }
  #myBtn:hover,#myBtn1:hover,#myBtn2:hover{
    text-decoration: none; color: #57f3ba;
  }
 /* -----------------------------------    Benefits   -----------------------------------*/

  /* -----------------------------------    footer   -----------------------------------*/


 .ct-footer-post a:hover ,.ct-footer-meta a:hover{
     text-decoration: none;
     color: #06d087;
     transition: 0.2s;
 }

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #06d087;
}
a {
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
.ct-u-paddingTop10 {
  padding-top: 10px !important;
}
.ct-footer {
  background-color: #111;


  position: relative;
}
.ct-footer-pre {
  width: 100%;
  padding-bottom: 55px;
  border-bottom: 1px solid #555;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.ct-footer-pre span {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #ebebeb;
  font-size: 30px;
}
.ct-footer-pre .form-group {
  position: relative;
  margin: 0;
}
.ct-footer-pre .form-group:before,
.ct-footer-pre .form-group:after {
  content: '';
  display: table;
}
.ct-footer-pre .form-group:after {
  clear: both;
}
.ct-footer-pre .form-group input {
  border: 1px solid #00bff3;
  background-color: #333;
  color: #fff;
  height: 50px;
  padding: 0 30px;
  margin: 0 5px;
  border-radius: 0 !important;
}
.ct-footer-pre .form-group button {
  height: 50px;
  position: relative;
  width: 80px;
  padding: 0
}
.ct-footer-list {

  padding: 50px 0;
  list-style: none;
  padding-left: 0;
  display: table;
  width: 100%;

}
.ct-footer-list h2{
    text-align: left;}

.ct-footer-list > li .ct-footer-list-header {
  margin-top: 30px;
  color: #06d087;
  font-size: 30px;
}
.ct-footer-list > li ul {
  list-style: none;
  padding-left: 0;
  text-align: left;
  font-size: 0.9rem;
}
.ct-footer-list > li ul li a {
  color: #fff;
}
.ct-footer-list > li ul li a:hover,
.ct-footer-post a:hover {
  text-decoration: underline;
}
.ct-footer-post {
  background: #000;
  padding: 30px 0;
}
.ct-footer-post .inner-left,
.ct-footer-post .inner-right {
  padding: 20px 0;
}
.ct-footer-post ul {
  list-style: none;
  padding-left: 0;
  margin: 0 -20px;
}
.ct-footer-post ul li {
  display: inline-block;
  margin: 0 20px;
}
.ct-footer-post a {
  color: #fff;
}
.ct-footer-post p {
  color: #fff;
}
.ct-footer-meta {
  padding-top: 30px;
}
.ct-footer-meta .ct-socials {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}
.ct-footer-meta .ct-socials li {
  padding: 0 3px;
}
.ct-footer--with-button {
  padding-top: 150px;
}
address {
  color: #fff;
  display: inline-block;
}
address span {
  font-weight: 600;
}
address a {
  color: #fff;
}
address a:hover {
  text-decoration: underline;
}


.ct-mediaSection {
  background-attachment: fixed;
}
.ct-section_header--type1 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000;
  font-size: 115px;
  text-transform: uppercase;
}
.ct-section_header--type2 small {
  font-family: 'coquette', fantasy;
  font-size: 58px;
  line-height: .7;
  display: block;
  font-weight: 700;
  position: relative;
  left: -12px;
}
.ct-section_header--type2 span {
  font-family: 'Bebas Neue';
  font-size: 115px;
  line-height: .8;
}
.ct-section_header--type2 img {
  display: inline-block;
  float: left;
  position: relative;
  top: 15px;
  padding-right: 3px;
}
.ct-section_header--type3 {
  text-align: center;
}
.ct-section_header--type3 small {
  font-family: 'coquette', fantasy;
  font-size: 50px;
  padding: 15px 0;
  font-weight: 700;
  color: #fff;
  background-image: url("/core/fileparse.php/16/urlt/../images/ribbon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block
}
.ct-section_header--type3 span {
  font-family: 'Bebas Neue';
  font-size: 150px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: .85
}
.ct-section_header--type4 {
  text-align: center;
}
.ct-section_header--type4:before,
.ct-section_header--type4:after {
  content: '';
  display: table
}
.ct-section_header--type4:after {
  clear: both
}
.ct-section_header--type4 small {
  font-family: 'coquette', fantasy;
  font-size: 50px;
  color: inherit;
  font-weight: 700;
  display: block
}
.ct-section_header--type4 span {
  font-family: 'nimbus-sans-condensed', sans-serif;
  font-weight: 400;
  font-weight: bold;
  font-size: 150px;
  text-transform: uppercase;
  display: block;
  line-height: .7
}
.ct-section_header + p {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1.5px;
  text-align: center;
}
.ct-section_header--type4 + p {
  font-family: 'nimbus-sans-condensed', sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}
#socialH2{
  text-align: left;
}

/* Media Queries */

@media (min-width:1200px) {
  .ct-footer-pre {
    display: table;
  }
  .ct-footer-pre > .inner {
    display: table-cell;
    vertical-align: middle;
  }
  .ct-footer-list > li {
    width: 20%;
    display: table-cell;
    vertical-align: top;
  }
  .ct-footer-list > li:last-child {
    width: 7%;
  }
}

@media (max-width:1199px) {
  .ct-footer-pre .form-group {
      padding-top: 15px
  }
}
@media (max-width: 1199px) {
  .ct-footer-list > li {
    display: inline-block;
    float: left;
  }
}
@media (min-width:992px) {
  .ct-footer-post .inner-left {
    float: left;
  }
  .ct-footer-post .inner-right {
    float: right;
  }
}
@media (max-width:991px) {
  .ct-footer-post {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .ct-footer-list > li {
    width: 33.3333%;
  }
}
@media (min-width:768px) {
  .ct-footer-post p {
    display: inline-block;
  }
  .ct-footer-post p + p {
    padding-left: 50px;
  }
}
@media (max-width:767px) {
  address {
    padding-top: 30px;
  }
}
@media (min-width: 480px) and (max-width:767px) {
  .ct-footer-list > li {
    width: 50%;
  }
}
@media (min-width:480px) {
  .ct-footer-pre .form-group button {
    top: -1px;
  }
  .ct-footer-pre .form-group input {
    width: 331px;
  }
}
@media (max-width:479px) {
    .addressContainerFooter{
        text-align: center;
    }
    .ct-footer-list > li ul{
        padding-left:20vw;
        text-align: left;
    }
    .ct-footer-list h2{
        margin-top: 20px;
        padding-left:20vw;
        text-align: left;
    }
    #socialH2{
      text-align: left;
    }
  .ct-footer-pre .form-group input {
    float: left;
    width: 70%;
    margin: 0;
  }
  .ct-footer-pre .form-group button {
    float: left;
    width: 30%;
  }
  .ct-footer-list > li {
    width: 100%;
    text-align: center;
  }
  .ct-footer-list {
    padding: 20px 0;
  }
  .btn.btn-large {
    padding: 20px 10px;
    line-height: .9;
    font-size: 26px;
    letter-spacing: -.2px;
  }
  .ct-section_header--type1 {
    font-size: 60px;
    line-height: .8;
  }
  .ct-section_header + p {
    font-size: 22px;
  }
  .ct-section_header--type3 small {
    font-size: 25px;
  }
  .ct-section_header--type4 small {
      font-size: 40px;
  }
  .ct-section_header--type3 span {
    font-size: 90px;
  }
  .ct-section_header--type4 span {
      font-size: 80px;
  }
  .ct-section_header--type4 + p {
    font-size: 28px;
  }
}
.ct-footer-post .container{
    padding-top: 0px;
}
.ct-footer .container{
    padding-top: 0px;
}
.ct-socials i {
    color: #059762;
}
.ct-socials i:hover {
    color: #06d087;
}

  /* -----------------------------------    footer   -----------------------------------*/

  .TitleCrypto{
    margin: 50px 100px 50px 100px ;
    font-size:35px ;
    text-align: center;
    font-weight: bold;
  }

  @media (max-width:800px) {
  .TitleCrypto{
    margin: 20px ;
    font-size:25px ;
    text-align: center;
    font-weight: bold;
  }
}

.float{

	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:20px;
  
	background-color:rgba(16, 138, 52, 0.897);
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 10px 1px rgb(82, 81, 81);
  z-index:100;
}
.float:hover{
  background-color: #06d087;
}

.my-float{
	margin-top:15px;
}
